{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block body %}
<form class="form" id="formulario" method="POST">
    <div class="input_container">
    <input type="text" id="email" name="email" class="ingreso" required>
    <label class="label">Email</label>
    </div>
    
    <div class="input_container">
    <input type="text" id="username" name="username" class="ingreso" required>
    <label class="label">Usuario</label>
    </div>

    <div class="input_container">
    <input type="password" id="password" name="password" class="ingreso" required>
    <label class="label">Contraseña</label>
    </div>  

    <button value="sumbit" id="iniciar_sesion">Iniciar sesión</button>
</form>
{% endblock %}